@if (timelineStore.currentTransactionDetail(); as transactionDetail) {
  <div class="container p-0 py-4">
    <h2 class="text-primary mb-4">Transaction details</h2>
    <app-card customClass="mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center gap-3">
            <app-name-badge
              [name]="transactionDetail.otherParty?.name"
            ></app-name-badge>

            <div class="fs-5">
              {{ transactionDetail.otherParty?.name }}
            </div>
          </div>
          <span class="fs-5">
            <app-transaction-amount
              [amount]="transactionDetail.amountInBaseCurrency"
              [isCredit]="transactionDetail.isCredit"
              [showCurrency]="true"
              customClass="display-1 fs-5"
            ></app-transaction-amount>
          </span>
        </div>
        <div class="mt-2">
          <small class="text-muted">
            {{ transactionDetail.timestamp | date: "MMMM d, y, h:mm a" }}
          </small>
        </div>
      </div>
    </app-card>

    <app-card customClass="mb-4">
      <div class="card-body d-flex flex-column gap-3">
        @if (transactionDetail.description) {
          <app-description-list
            title="Description"
            [value]="transactionDetail.description"
            [showCopy]="true"
          ></app-description-list>
        }

        @if (timelineStore.account().name) {
          <app-description-list
            title="By"
            [value]="timelineStore.account().name"
            [showCopy]="true"
          ></app-description-list>
        }

        @if (transactionDetail?.otherParty; as otherParty) {
          @if (otherParty.iban) {
            <app-description-list
              title="IBAN"
              [value]="otherParty.iban"
              [showCopy]="true"
              [uppercaseKey]="true"
            ></app-description-list>
          }
        }

        @if (transactionDetail.currencyCode !== "EUR") {
          <app-description-list
            title="USD"
            [value]="`${transactionDetail.amount}`"
            [showCopy]="false"
          ></app-description-list>
        }
      </div>
    </app-card>
  </div>
} @else {
  <app-transaction-detail-not-found></app-transaction-detail-not-found>
}
