<app-card class="my-2 list-group-item border-0 m-0 p-0">
  <div class="card-body pb-1">
    <div class="transaction-day-label">
      <h6 class="text-primary m-0" [attr.aria-label]="transactionDateAriaLabel">
        {{ transactionDay().transactionDate | transactionDate }}
      </h6>

      @if (transactionDay().transactions) {
        <ul class="list-group list-group-flush">
          @for (
            transaction of transactionDay().transactions;
            track transaction.id
          ) {
            <app-transaction-item
              [data]="transaction"
              [isLast]="$index === transactionDay().transactions.length - 1"
            ></app-transaction-item>
          }
        </ul>
      } @else {
        <div class="p-3 text-muted text-center">
          No transactions for this day
        </div>
      }
    </div>
  </div>
</app-card>
