<a
  class="txn-item"
  [routerLink]="`/timeline/detail/${data().transactionDetailId}`"
  ><li
    class="list-group-item d-flex justify-content-between align-items-center px-3 py-3 border-0 cursor-pointer"
    [ngClass]="{ 'border-bottom': !isLast() }"
  >
    <div class="d-flex align-items-center gap-3">
      <app-name-badge [name]="data().otherParty?.name"></app-name-badge>
      <span class="fw-medium">{{ data().otherParty?.name || "Unknown" }}</span>
    </div>

    <div class="display-2 fs-6">
      <app-transaction-amount
        [amount]="data().amountInBaseCurrency"
        [isCredit]="data().isCredit"
        customClass="display-2 fs-6"
      ></app-transaction-amount>
    </div>
  </li>
</a>
