<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/timeline" class="text-primary text-decoration-none"
        >Overview</a
      >
    </li>
    <li class="breadcrumb-item">
      @if (showDetailsBreadcrumb()) {
        <a routerLink="/timeline" class="text-primary text-decoration-none"
          >Transactions</a
        >
      } @else {
        <span class="breadcrumb-item active" aria-current="page"
          >Transactions</span
        >
      }
    </li>
    @if (showDetailsBreadcrumb()) {
      <li class="breadcrumb-item active" aria-current="page">Details</li>
    }
  </ol>
</nav>
