<header>
  <nav
    class="container container-lg mx-auto navbar navbar-expand-lg bs-navbar-light bs-bg-light h-100 px-3"
  >
    <div class="container-fluid justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <span class="nexbank-logo">Nexbank</span>
      </a>
      <ul
        class="navbar-nav d-flex flex-row justify-content-center align-items-center gap-4"
      >
        <li class="d-none d-sm-block">Welcome Tom</li>
        <li class="d-none d-sm-block"><button class="btn">Logout</button></li>
        <li>
          <app-theme-selector
            [theme]="appStore.theme()"
            (themeToggled)="appStore.toggleTheme()"
          />
        </li>
      </ul>
    </div>
  </nav>
</header>
