<header>
  <nav
    class="container container-lg mx-auto navbar navbar-expand-lg bs-navbar-light bs-bg-light h-100"
  >
    <div class="container-fluid justify-content-between">
      <a class="navbar-brand bs-bg-light">Rabobank</a>
      <ul
        class="navbar-nav d-flex flex-row justify-content-center align-items-center gap-4"
      >
        <li>Welcome Tom</li>
        <li><button class="btn">Logout</button></li>
        <li>
          <app-theme-selector
            [theme]="appStore.theme()"
            (themeToggled)="appStore.toggleTheme()"
          />
        </li>
      </ul>
    </div>
  </nav>
</header>
