<div class="container container-md mx-auto py-5">
  <!-- Header Section -->
  <h1 class="fst-italic fw-normal text-primary m-0">Tom Enricks</h1>
  <p>€ 20.499,25</p>

  <!-- Scrollable Timeline -->
  <div class="card border-0 shadow-sm">
    <div
      class="card-body p-0"
      appInfiniteScroll
      (nearEnd)="appStore.loadTimeline()"
    >
      @for (day of appStore.timeline(); track day.id) {
        @defer (on viewport) {
          <app-transaction-day-list [transactionDay]="day">
          </app-transaction-day-list>
        } @placeholder {
          <div>Loading...</div>
        }
      } @empty {
        <div class="p-3 text-center">
          <p class="text-muted fs-5 m-0">There are no items to display.</p>
        </div>
      }
    </div>
  </div>
</div>
