.mt-6 { margin-top: 36px !important; }
.mt-7 { margin-top: 42px !important; }
.mt-8 { margin-top: 48px !important; }
.mt-9 { margin-top: 54px !important; }
.mt-10 { margin-top: 60px !important; }

.mb-6 { margin-bottom: 36px !important; }
.mb-7 { margin-bottom: 42px !important; }
.mb-8 { margin-bottom: 48px !important; }
.mb-9 { margin-bottom: 54px !important; }
.mb-10 { margin-bottom: 60px !important; }

.ml-6 { margin-left: 36px !important; }
.ml-7 { margin-left: 42px !important; }
.ml-8 { margin-left: 48px !important; }
.ml-9 { margin-left: 54px !important; }
.ml-10 { margin-left: 60px !important; }

.mr-6 { margin-right: 36px !important; }
.mr-7 { margin-right: 42px !important; }
.mr-8 { margin-right: 48px !important; }
.mr-9 { margin-right: 54px !important; }
.mr-10 { margin-right: 60px !important; }

.mx-6 { margin-left: 36px !important; margin-right: 36px !important; }
.mx-7 { margin-left: 42px !important; margin-right: 42px !important; }
.mx-8 { margin-left: 48px !important; margin-right: 48px !important; }
.mx-9 { margin-left: 54px !important; margin-right: 54px !important; }
.mx-10 { margin-left: 60px !important; margin-right: 60px !important; }

.my-6 { margin-top: 36px !important; margin-bottom: 36px !important; }
.my-7 { margin-top: 42px !important; margin-bottom: 42px !important; }
.my-8 { margin-top: 48px !important; margin-bottom: 48px !important; }
.my-9 { margin-top: 54px !important; margin-bottom: 54px !important; }
.my-10 { margin-top: 60px !important; margin-bottom: 60px !important; }



.pt-6 { padding-top: 36px !important; }
.pt-7 { padding-top: 42px !important; }
.pt-8 { padding-top: 48px !important; }
.pt-9 { padding-top: 54px !important; }
.pt-10 { padding-top: 60px !important; }

.pb-6 { padding-bottom: 36px !important; }
.pb-7 { padding-bottom: 42px !important; }
.pb-8 { padding-bottom: 48px !important; }
.pb-9 { padding-bottom: 54px !important; }
.pb-10 { padding-bottom: 60px !important; }

.pl-6 { padding-left: 36px !important; }
.pl-7 { padding-left: 42px !important; }
.pl-8 { padding-left: 48px !important; }
.pl-9 { padding-left: 54px !important; }
.pl-10 { padding-left: 60px !important; }

.pr-6 { padding-right: 36px !important; }
.pr-7 { padding-right: 42px !important; }
.pr-8 { padding-right: 48px !important; }
.pr-9 { padding-right: 54px !important; }
.pr-10 { padding-right: 60px !important; }

.px-6 { padding-left: 36px !important; padding-right: 36px !important; }
.px-7 { padding-left: 42px !important; padding-right: 42px !important; }
.px-8 { padding-left: 48px !important; padding-right: 48px !important; }
.px-9 { padding-left: 54px !important; padding-right: 54px !important; }
.px-10 { padding-left: 60px !important; padding-right: 60px !important; }

.py-6 { padding-top: 36px !important; padding-bottom: 36px !important; }
.py-7 { padding-top: 42px !important; padding-bottom: 42px !important; }
.py-8 { padding-top: 48px !important; padding-bottom: 48px !important; }
.py-9 { padding-top: 54px !important; padding-bottom: 54px !important; }
.py-10 { padding-top: 60px !important; padding-bottom: 60px !important; }
