
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap");


// todo: Add theme coloring variables

$primary: #003087; 
$secondary: #ff6200; 
$body-bg: #ffffff; 
$body-color: #333333; 


:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}